@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.about-header {
  text-align: center;
  margin-bottom: 2rem;
  animation: fadeInDown 1s ease-out;
}

.about-header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.about-header p {
  font-size: 1.2rem;
  color: #666;
  font-style: italic;
  
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.about-card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.about-card p {
  font-size: 1rem;
  color: #888585;

  
}

.about-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
