
  
  .card-deck1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px; /* Adjust margin to reduce space between cards */
  }
  
  .card-deck1 .card {
    margin: 0 10px 1rem;
    margin-top: 20px; /* Adjusted margin to reduce space between cards */
    border: 1px solid rgb(206, 200, 191);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shaded effect */
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck1 .card {
      -ms-flex: 0 0 48.7%;
      flex: 0 0 48.7%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .card-deck1 .card {
      -ms-flex: 0 0 32%;
      flex: 0 0 32%;
    }
  }
  
  @media (min-width: 992px) {
    .card-deck1 .card {
      -ms-flex: 0 0 24%;
      flex: 0 0 24%;
    }
  
    button {
        display: inline-block; /* Ensure the button is inline-block */
        text-decoration: none; /* Remove underline from the link */
        color: rgb(183, 203, 213); /* Set the button text color */
        border: 1px solid rgb(245, 236, 236); /* Add a border to the button */
        padding: 10px 10px; /* Add padding to the button */
        border-radius: 2px; /* Round the corners of the button */
        transition: background-color 0.3s, color 0.3s; /* Add a transition effect */
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif ;
    }
  }
  