@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.banner-area3{
    background-image: url('https://img.grouponcdn.com/deal/hhrhpYKtGmzgbQMndNG2/TE-1559x936/v1/t600x362.jpg');
    background-position: center center;
    background-size:cover ;
    /* -webkit-background-size:cover ; */
    height: 600px;
    width: 1000px;
    margin: auto;
}
.menu{
    float: right;
    list-style: none;
    margin-top:30px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'poppins' ,sans-serif;
    font-size: 16px;
}
.menu ul li a:hover{
    color: rgb(199, 139, 255);
}
/* .logo{
    height: 20%;
    float: left;
    color: azure;
    list-style: none;
    
} */
.banner-text3{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
    padding-bottom: 120px;
   
}

.banner-text3 h1{
    color: rgb(246, 145, 29);
    font-size: 30px;
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.banner-text3 a{
    border: 1px solid #eca60f;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    background-color: #e77706;
}

.container2{
    width: 90%;
    height: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 60px;
    padding-left: 150px;
    padding-top: 200px;
}

.main-image3 {
    width: 600px;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 900px;
    margin-left: 150px;
   
}


.description-box {
    width: 500px;
    height: 300px;
    border: 1px solid #ee7b11;
    border-radius: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9e3ec;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
}
.container2 {
    padding-top: 100px;
   padding-right: 70px;
   padding-bottom: 50px;
  
  
}

.description-box h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.description-box p2 {
    font-size: 16px;
    color: #555;
}
.description-box h4 {
  font-size: 16px;
  color: #e58b05;
}

/* Image Styling */



.menu{
  float: right;
  list-style: none;
  margin-top:30px;
}
.menu ul li{
  display: inline-block;
}
.menu ul li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: 'poppins' ,sans-serif;
  font-size: 16px;
}


/* .logo{
  height: 20%;
  float: left;
  color: azure;
  list-style: none;
  
} */


@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
figure.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  margin-bottom: 100px;
  
}
.f1
{
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 60px;
}
.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  margin-bottom: 40px;
  margin-top: 30px;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
 
}

.snip1527 .date span {
  display: block;
  line-height: 14px;
}

.snip1527 .date .month {
  font-size: 11px;
}

.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.menu{
  float: right;
  list-style: none;
  margin-top:30px;
}
.menu ul li{
  display: inline-block;
}
.menu ul li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: 'poppins' ,sans-serif;
  font-size: 16px;
}
.menu ul li a:hover{
  color: rgb(199, 139, 255);
}

/* Demo purposes only */

